@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Anta", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
}

canvas{
    width: 100%;
    height: 100%;
}



nav{
    display: flex;
    margin: 1rem;
    
}

header{
    position: absolute;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  
    text-decoration: none;
    color: #fafafa;
    font-size: 20px;

    text-transform: capitalize;
    
}

iframe{
    width: 14rem;
    margin: 1rem;
    cursor: pointer;
    pointer-events: none;
}

button{
    background-color: transparent;
    border: none;
    margin: 1rem;
    color: #fafafa;
    cursor: pointer;
    & i{
    font-size: 24px;
        
    }
}
