*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nevera;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-color: var(--black);
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: nevera;
    src: url(./assets/nueraf.otf);
}

:root{
    --black: #000;
    --white: #fff;
}

.nav__revolcon{
    position: relative;
    padding: 1rem;
    height: min-content;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    bottom: 0;
    transition: all .2s ease;
    left: 0;
    z-index: 50;
    
}
.nav__revolcon__item{
    transition: all 1s ease-out;
    width: 100%;
    padding: .5rem 0;
    height: 100%;
    text-decoration: none;
    font-family: nevera;
    color: var(--white);
    text-shadow: 1rem 1rem 5rem 1rem var(--black);    
    text-transform: uppercase;
    font-weight: bolder;
    font-size: calc(1vw + 1vh);
    text-align: left;
    z-index: 50;
}

.nav__revolcon__item:hover{
    transform: translateX(1rem);
}

.revolcon__title{
    position: absolute;
    text-transform: uppercase;
    color: var(--white);
    font-size: 20vw;
    animation: flash steps(5) 1s infinite;
    z-index: 10;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
}

.revolcon{
    position: relative;
    width: 100%;
    height: min-content;
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.revolcon__image{
    height: calc(100vh / 4);
    width: calc(100vw / 5);
    background-position: center;
    background-size: cover;
    background-image: url(./assets/david.webp);
}

@keyframes move {
    0%,100%{
        transform: translate(0%,0%);
    }25%{
        transform: translate(0%,90%);
    }50%{
        transform: translate(90%,90%);
    }75%{
        transform: translate(90%,0%);
    }
}

@keyframes flash {
    0%,40%,80%{
        opacity: 1;
    }
    5%,35%,85%{
        opacity: 0;
    }

}

@keyframes gears {
    0%{
        transform: rotate(0deg) scale(1);
    }

    100%{
        transform: rotate(4turn) scale(.1);
    }
}

@keyframes squareMove {
    0%,100%{
        transform: translate(0%,0%);
    }25%{
        transform: translate(100%,0%);
    }50%{
        transform: translate(200%,100%);
    }75%{
        transform: translate(0%,200%);
        background-image: url('./assets/jack.webp');
    }100%{
        background-image: url('./assets/jack.webp');
    }
}

@keyframes shake {
    0%,70%{
        transform: translate(.5rem,0);
    }10%,40%,100%{
        transform: translate(-.3rem,.3rem);
    }20%,50%,80%{
        transform: translate(.4rem,-.1rem);
    }
}